{
	"root": true,
	"extends": ["@react-native", "plugin:@typescript-eslint/recommended", "prettier"],
	"plugins": ["prettier"],
	"rules": {
		"@typescript-eslint/no-unused-vars": ["error", { "argsIgnorePattern": "^_" }],
		"@typescript-eslint/no-empty-function": "off",
		"no-mixed-spaces-and-tabs": ["error", "smart-tabs"],
		"prettier/prettier": ["error"],
		"@typescript-eslint/no-shadow": "off",
		"react/react-in-jsx-scope": ["error"],
		"react-native/no-inline-styles": "off"
	},
	"ignorePatterns": [
		"babel.config.js",
		"metro.config.js",
		"jest.config.js",
		"orval*.js",
		"src/api/**/*",
	],
}
